$footerHeight: 30px;

html, body {
	height: 100%;
}

body {
	padding-top: 70px;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto $footerHeight*-1;
}

.footer, .push {
	height: $footerHeight;
}

@media (min-width: 1200px) {
	.container {
		max-width: 970px;
	}
}
